@import "sizes.scss";

@media screen and(max-width: $maxMd) {
  .carousel-tabs-container > h4 {
    position: static !important;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .home-search-input-group {
    margin: 60px 0 !important;
  }
}

@media screen and(max-width: $maxSm) {

  .home-search-input-group .input-group-append {
    float:left;
    width: 100%;
    margin-left: 0 !important;
  }
  .home-search-input-group .input-group-append button {
    float:left;
    width: 100%;
    border-radius: 0 !important;
    padding: 10px !important;
  }
}

@media screen and(min-width: $minXl) {
  .movie-or-tv-item-content-table {
    height: 510px;
  }
}

